{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">

<title>
NSIKAY - Plateforme internationale
</title>


<link rel="stylesheet"
href="{% static 'nsikay/css/style.css' %}">

</head>


<body>


{% include "nsikay/components/header.html" %}



<section class="hero-nsikay">


<div class="watermark">

EMPIRE KUBA

</div>


<div class="hero-content">


<h1>
NSIKAY
</h1>


<h2>
Communication mondiale,
échanges culturels et économiques
</h2>


<button>
Découvrir NSIKAY
</button>


</div>


</section>




<section class="official-nsikay">


<h2>
Identité officielle
</h2>


<p>
Association déclarée en France
</p>


<p>
RNA : W442031317
</p>


<p>
SIREN : 995 089 711
</p>


<p>
SIRET : 995 089 711 00015
</p>


</section>




<section class="objectif">


<h2>
Notre objectif
</h2>


<p>

Créer un espace international permettant
les échanges humains, économiques,
culturels et technologiques.

</p>


</section>




<section class="publicite">


<h2>
Maître des Publicités NSIKAY
</h2>


<div class="pub-card">


IMAGE PUBLICITAIRE


<br>


Titre publicité


<br>


Bouton découvrir


</div>


</section>




<section class="categories">


<h2>
Découvrir NSIKAY
</h2>


<div class="cards">


<div>
Économie
</div>

<div>
Sport & Loisirs
</div>


<div>
Culture & Art
</div>


<div>
Technologie
</div>


<div>
Agriculture
</div>


<div>
Social
</div>


<div>
Religion & Histoire
</div>


<div>
+18
</div>


</div>


</section>




<section class="wenze">


<h2>
WENZE
</h2>


<p>
Commerce permanent NSIKAY
</p>


</section>




<section class="events">


<h2>
Événements NSIKAY
</h2>


</section>




{% include "nsikay/components/footer.html" %}



</body>

</html>

